{% extends 'base.html.twig' %}

{% block title %}Le Si
{% endblock %}

{% block section %}
<h1>Description du Système Informatique
<h1>
{% endblock %}

{% block article %}
<h3><h2>La gestion informatique</h2> La DSI (Direction des Services Informatiques) est une entité importante de la structure Europe qui participe aux choix stratégiques. Pour Swiss-Bourdin, qui occupait le siège parisien avant la fusion, l'outil informatique et l'utilisation d'outils décisionnels pour améliorer la vision et la planification de l'activité ont toujours fait partie de la politique maison, en particulier pour ce qui concerne la partie recherche, production, communication et juridique. La partie commerciale a été le parent pauvre de cette informatisation, les visiteurs étant vus comme des acteurs distants autonomes. La DSI a convaincu l'entreprise que l'intégration des données fournies par cette partie aura un impact important sur l'ensemble de l'activité. 
{% endblock %}