{% extends 'base.html.twig' %}

{% block title %}Le Réseau
{% endblock %}

{% block section %}
<h1>Organisation du réseau<h1>
{% endblock %}

{% block article %}
    <h3><h2>Répartition des services</h2> Chaque étage dispose d'une baie de brassage qui le relie par une fibre à la baie centrale de la salle serveurs. 
Toutes les salles de réunion sont équipées d'un point d'accès Wifi positionné par défaut dans le VLAN "Visiteurs" qui autorise uniquement un accès Internet. Les portables connectés en wifi à ce point d'accès reçoivent ainsi une adresse IP et n'ont, par conséquent accès qu'aux services DHCP et DNS.
Le point d’accès peut être configuré à la demande pour être raccordé à un VLAN présent au niveau de l'étage.
Chaque salle de réunion dispose d'un vidéoprojecteur, d'enceintes et d'un tableau numérique interactif. 
La salle "Démonstration" est destinée à l'accueil des organismes de santé (AFSSAPS notamment) et des partenaires scientifiques. Elle dispose de paillasses et d'équipements de laboratoire, en plus d'une salle de réunion.
</h3>
{% endblock %}